.container-cards {
  display: grid;
  max-width: 75vw;
  flex-wrap: wrap;
  margin: auto;
  grid-template-columns: 21.25rem 21.25rem 21.25rem;
  gap: 1.25rem;
}

.card-item {
  transition: 1s all ease;
  box-shadow: 0.3125rem 0.3125rem 0.9375rem -0.25rem #000000;
  cursor: pointer;
}

.card-item p {
  padding: 1.25rem 1.25rem 1.25rem 1.25rem;
  color: var(--color-gray);
}

.card-item p:last-child {
  padding-top: 0;
}

.card-item img {
  width: 100%;
}

.card-item:hover{
  transform: translateY(-0.625rem);
}

@media (min-width: 320px) and (max-width: 767px) {
  .container-cards {
    grid-template-columns: 1fr;
  }
}

@media (width: 768px) {
  .container-cards {
    grid-template-columns: 1fr 1fr;
  }
}