footer {
  max-width: 100vw;
  background-color: var(--color-blue);
}

.container-footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 85vw;
  margin: auto;
  padding: 2.5rem;
}

.container-footer nav {
  display: flex;
  flex-wrap: wrap;
}

.container-footer ul:nth-child(2) {
  margin: 0 10vw;
}

.container-footer li:not(.title) {
  padding-top: 0.4375rem;
  font-size: 1.125rem;
}

.container-footer li a {
  color: #FFFE;
}

.container-footer li a:hover {
  text-decoration: underline;
}

.container-footer ul .title {
  color: var(--color-white);
  font-weight: bold;
  font-size: 1.25rem;
}

.redes {
  display: flex;
}

.facebook {
  margin: 0 1.25rem;
}

@media (min-width: 320px) and (max-width: 767px) {

  .container-footer {
    padding: 2.5rem 0;
    justify-content: left;
    flex-direction: column;
  }

  .container-footer nav {
    display: flex;
    flex-direction: column;
  }

  .container-footer ul:nth-child(2) {
    margin: 0 0;
  }

  .title {
    margin-top: 1.25rem;
  }

  .redes {
    margin-top: 1.25rem;
  }
}

@media (width: 768px) {
  .container-footer {
    max-width: 100vw;
    padding: 2.5rem 0;
  }
}