* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  font-family: 'Source Sans Pro', 'Times New Roman';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body::-webkit-scrollbar {
  width: 0.625rem;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-blue);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
}

::placeholder {
  font-size: 1.0625rem;
}

:root {
--color-blue: #0080ED;
--color-blue-opacity: #007eedc7;
--color-white: #FFF;
--color-black: #000;
--color-gray: #838383;
}
